.body{
    background-color: #202b37;
}
.title-bar {
    height: 20%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.raiseup-img {
    flex-shrink: 0;
}

.raiseup-img img {
    height: auto;
    max-width: 100px;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.title h1 {
    color: white;
    font-size: 2em;
}
.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 98%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.about{
    margin-left: 1%;
}
.service{
    margin-right: 1%;
}