{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block body %}
<div class="login-search">
    <div class="login-button-wrapper">
        <a href="{{ url_for('login') }}">
            <button type="button" class="login-button">
                Login
            </button>
        </a>
    </div>
    <div class="search-wrapper">
        <form action="{{ url_for('searchCampaigns')}}" method="POST">
            <input type="text" placeholder="Search Bar" class="search-bar" name="search_query">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</div>
{% endblock %}