{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block body %}
<div class="login-search">
    <div class="login-button-wrapper">
        <a href="{{ url_for('login') }}">
            <button type="button" class="login-button">
                Login
            </button>
        </a>
    </div>
    <div class="search-wrapper">
        <form action="{{ url_for('searchCampaigns')}}" method="POST">
            <input type="text" placeholder="Search Bar" class="search-bar" name="search_query">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</div>
<div class="popular-campaigns">
    <div class="pop-title">
        Popular Campaigns
    </div>
    {% if top_campaigns|length >= 1 %}
        <div class="pop-campaign"></div>
        <h2>{{top_campaigns[0].title}}</h2>
        <h2>{{top_campaigns[0].current_amount}}</h2>
        </div>
    {% endif %}
    
    {% if top_campaigns|length >= 2 %}
        <div class="pop-campaign"></div>
        <h2>{{top_campaigns[1].title}}</h2>
        <h2>{{top_campaigns[1].current_amount}}</h2>
        </div>
    {% endif %}
    {% if top_campaigns|length == 0 %}
        <h1 class="missing-campaigns">No campaigns</h1>
    {% endif %}

</div>
{% endblock %}